@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

.h-screen {
  height: 100vh;
}

body {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .bg-white,
  .bg-gray-800,
  .text-black,
  .text-white,
  .bg-gray-200,
  .dark:bg-gray-700,
  .dark:bg-dark-bg,
  .dark:text-text-light,
  .dark:text-white {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  :root {
    --bg-color: #f5f5f7;
    --text-color: black;
    --send-bg: #0b93f6;
    --send-color: white;
    --receive-bg: #e5e5ea;
    --receive-text: black;
    --page-background: white;
  }

  .dark {
    --bg-color: #1a202c;
    --text-color: #e2e8f0;
    --page-background: #1f2937;
  }
  
  .light {
    --bg-color: #f5f5f7;
    --text-color: #1a202c;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  
header {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.p {
  max-width: 255px;
  word-wrap: break-word;
  margin-bottom: 12px;
  line-height: 24px;
  position: relative;
  padding: 10px 20px;
  border-radius: 25px;
}

.p:before,
.p:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 25px;
}


@keyframes skeleton-loading {
  0% {
    left: -150px;
  }

  100% {
    left: 100%;
  }
}


.skeleton {
  background-color: #e0e0e0;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.skeleton::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background: linear-gradient(to right, transparent 0%, #f0f0f0 50%, transparent 100%);
  animation: skeleton-loading 1.2s infinite;
}


.skeleton-text {
  height: 16px;
  background-color: #e0e0e0;
  border-radius: 4px;
}

.skeleton-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e0e0e0;
}